[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "*"
keras = "*"
tflite-runtime = "*"
keras-image-helper = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
